.Chat{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 1400px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.titleChat, .titleplayers{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.Chating{
    display: flex;
    flex-direction: row;
    width: 1330px;
    height: 500px;
    justify-content: space-around;
}
.columnChat{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 600px;
    height: 600px;
}

.boxChat {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
}

.boxMsg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 200px;
}

.send, .message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
    height: 100px;
    align-items: center;
    
}
.msg-btnchat{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}
.send-btnchat{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.players{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 450px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
}
