.login{
    margin-left:130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1330px;
    height: 700px;
}
/*------------------------------------*/
.value1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    width: 1300px;
    height: 100px;
}
.btnEnable{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}
/*------------------------------------*/
.value2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    width: 1300px;
    height: 100px;
}
.btnValue2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}
.btnxxx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}
.btnUpdate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}
/*------------------------------------*/
.value3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    width: 1300px;
    height: 100px;
}
.btnValue3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
}
.btnMin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}
.btnMax{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
} 
.btnUpdateValue3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}